@import "normolize.scss";

$color-pink:#f14ca5;
$color-white:white;
$text-color:#b5aaf7;

// ===mixins===
@mixin font-monserrat
{
  font-family: 'Montserrat', sans-serif;
}

@mixin font-poiret-one
       {
         font-family: 'Poiret One', sans-serif;
       }

// ====Common ======
.flex-title
{
  font-size: 40px;
}
span
{
  color: $color-pink;
}
.flex-title
{
  font-size: 40px;
  color: $color-white;
  text-align: center;
}
.audit-title
{
  font-size: 31px;
  font-weight: lighter;
  color: $text-color;
}

.icon-block
{
  display: flex;
  align-items: center;
}
input[type="text"]
{
  background: #120649;
  padding: 25px 78px;
  border-radius: 15px;
  border:none;
  margin-right: 20px;
  text-align: center;
  color: $color-white;
  border-bottom:1px solid  #29186f;
}
input[type="text"]::placeholder
{
  color:$color-white;
}
input[type="button"]
{
  padding: 25px 78px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f37559, #ffc65e);
  border: none;
  border-radius: 15px;
  color: $color-white;
}
// ====Common ======

body{
  @include font-monserrat
}

.section-outer
{
  display: flex;
}
.section-inner
{
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-header
{
  color:$color-white;
  background: url(../img/header-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  .section-inner
  {
    min-height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-top{
     flex-shrink: 1;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 40px;
     &-logo{
       &__bottom{
         @include font-poiret-one;
         font-size: 18px;
         margin-left: 25px;
         color:$text-color;
       }

     }
     &-mail{
       color:$text-color;
       font-size: 16px;
       display: flex;
       align-items: center;
     }
     &-mail::before{
       content: url("../img/gi.png");
       display: inline-block;
     }
   }
  &-content {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;

    &-wrapper {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      &-top {
        //flex: 1;
        margin: 0 auto 60px;
        text-align: center;

        &__title {
          font-size: 72px;
        }

        &__subtitle {
          font-size: 35px;
          font-weight: lighter;
        }
      }

      &-form {
        background: url("../img/form-bg.jpg") 50% 50%;
        padding: 80px 30px 65px;
        background-size: cover;
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        color:$color-white;
        margin-bottom: 85px;
        &__title {
          margin-bottom: 40px;
        }
        &__text input{
          flex: 1;
        }

        &__button {
          input {
            flex: 1;
          }
        }
        & form{
          display: flex;
        }
      }

      &-bottom {
        display: flex;
        justify-content: space-evenly;
        &__benefit {
          text-align: center;
        }
      }

    }
  }


}

.section-services
{
  background: url("../img/services_bg.jpg") 50% 0;
  color: $text-color;
  padding-top: 150px;
  display: flex;
  &-title
  {

    margin-bottom: 85px;
  }
  &-wrapper
  {
    margin: 0 auto;
    &-servicesrow
    {
      justify-content: space-evenly;
      display: flex;
      margin: 0 auto;
      &-service
      {
        flex-shrink: 1;
        width: 270px;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 50px;
      }
    }
  }
}
.section-clients
{
  align-items: center;
  background: url(../img/clients_bg.png) ;
  &__title
  {
    margin-bottom:40px;
  }
  &__block
  {
    justify-content: space-evenly;
  }
}
.section-partners
{
  background: url("../img/partners-bg.jpg") 50% 0;
  color: $text-color;
  &__block
  {
    margin-bottom: 110px;
    justify-content: space-between;
  }
  &__title
  {
    margin: 120px  0 65px 0;
  }
  &-bottomform
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title
    {
      margin-bottom: 50px;
      color: $color-white;
    }
    &-form
    {
      display: flex;
      flex-direction: column;
      &__text
      {
        flex:1;
        display: flex;
        margin-bottom: 20px;
        input
        {
          flex:1;
          margin-right: 0;
        }
        input::placeholder
        {
          color: $text-color;
        }
      }
      &__button
      {
        flex:1;
      }
    }
  }

}

.section-team
{
  background: url("../img/team_bg.jpg") 50% 0;
  color: $text-color;
  &__title
  {
    margin: 120px  0 65px 0;
  }
  &-persons
  {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    &-person
    {
      display:flex;
      flex-direction:column;
      align-items:center;      
      width:210px;
      background:url("../img/person_bg.png") 0 0 no-repeat;
      border-radius: 13px;     
      &-photo
      {
        margin-top:33px;
        border-radius:50px;
        webkit-border-radius:50px;
        img
        {
         border-radius: 50%;
        }
      }

      &-name
      {
        font-size:20px;
        color:$color-white;
        margin-top:28px;

      }
      &-position
      {
        margin-top:10px;
        font-size:13px;
      }
      &-circle
      {
        margin-top:45px;

      }
    }
    

  }

}